# Server
PORT=5000
NODE_ENV=development

# Database (Neon PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_z2aYCIFkqEU3@ep-fancy-grass-am4jh62p.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require

# Clerk Auth
CLERK_SECRET_KEY=sk_test_nW2HOduDuXgXsOoHXQdaZe0FckJJJqNrY8Bgh449Wz
CLERK_WEBHOOK_SECRET=whsec_xxxxxxxxxx

# OpenAI
OPENAI_API_KEY=sk-xxxxxxxxxx

# Clipdrop API (for background removal & object removal)
CLIPDROP_API_KEY=xxxxxxxxxx

# Stripe
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxx
STRIPE_PREMIUM_PRICE_ID=price_xxxxxxxxxx

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
